p, 
ul {
  border: 2px solid rebeccapurple;
  padding: .5em;
}

.block,
li {
  border: 2px solid blue;
  padding: .5em;
}

ul {
  color: blue; /* Overridden by next ul type selector as it has higher specificity */
}

ul {
  display: flex;
  list-style: none;
  color: chartreuse;
}

.block {
  display: block;
}  