.container {
    border: 5px solid #ffcc5c;
    display: flex;
    flex-wrap: wrap;
}

/* .search {
    flex: 1;
} */

/* .container .search {
    flex-shrink: 0;
    font-size: x-small;
} */

/* .home,
.logout {
    flex: 0.5;
} */